NEXT_PUBLIC_SUPABASE_URL=https://nhfuxhlermrkbmvowwek.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_8ehEkGhHewoWPMzklWybLg_B0rVxutF
SUPABASE_SERVICE_ROLE_KEY=
GEMINI_API_KEY=gen-lang-client-0683515993
